## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

storybook-static
custom-elements.json
.rollup.cache/*
/.rollup.cache/Users/john/git/lit-components/oklch-color-wheel/dist/tsconfig.tsbuildinfo
/.rollup.cache/Users/john/git/lit-components/oklch-color-wheel/dist/src/OklchColorWheel.js.map
/.rollup.cache/Users/john/git/lit-components/oklch-color-wheel/dist/src/OklchColorWheel.js
